.detail-container-red {
  background: rgb(200, 0, 0);
  background: radial-gradient(circle, rgb(148, 0, 0) 0%, rgb(21, 0, 0) 100%);
}

.detail-container-yellow {
  background: rgb(200, 147, 0);
  background: radial-gradient(circle, rgb(143, 148, 0) 0%, rgb(21, 0, 0) 100%);
}

.detail-container-orange {
  background: rgb(200, 80, 0);
  background: radial-gradient(circle, rgb(148, 71, 0) 0%, rgb(21, 0, 0) 100%);
}

.detail-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  z-index: 10;

  .detail-container-hero {
    width: 100%;
    display: flex;
    flex-direction: column;

    .detail-container-body {
      margin: 115px auto;
      margin-bottom: 0;
      display: flex;
      width: 70%;
      justify-content: space-between;
      /* background-color: #000000; */
      border-radius: 20px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      padding: 40px;

      .detail-container-body-text {
        width: 40%;

        #detail-container-body-text-header {
          font-size: 52px;
        }

        #detail-container-body-text-body {
          margin: 20px 0;
          font-size: 20px;
        }

        .detail-container-body-text-subheader {
          font-size: 32px;
          text-transform: uppercase;
        }
        .detail-container-body-text-subbody {
          margin: 20px 0;
          font-size: 20px;
        }
      }
      .detail-container-picture {
        width: 40%;
        #detail-picture {
          width: 100%;
          border-radius: 20px;
        }
      }
    }
    .detail-container-bodysub {
      margin: 30px auto;
      margin-bottom: 50px;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      width: 70%;
      justify-content: space-between;
      /* background-color: #000000; */
      border-radius: 20px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      .detail-container-bodysub-text-subheader {
        font-size: 32px;
        text-transform: uppercase;
      }
      .detail-container-bodysub-text-subbody {
        margin: 20px 0;
        font-size: 20px;
      }
    }

    .detail-container-hero-wallpaper {
      display: absolute;
      width: 100%;
    }

    #detail-hero-wallpaper {
      display: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.4;
    }
  }

  .detail-container-footer {
    .detail-container-body {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      width: 70%;
      justify-content: space-between;
      /* background-color: #000000; */
      border-radius: 20px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      padding: 40px;

      .detail-container-body-text {
        font-size: 20px;
        text-transform: uppercase;
      }

      .detail-container-carrousel {
        margin-top: 40px;
        height: 300px;
        display: flex;

        .swiper {
          .swiper-button-prev::after,
          .swiper-button-next::after {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.835);
            padding: 20px;
            font-size: 22px;
            height: 5px;
            width: 5px;
            color: #ffffff;
            border-radius: 50%;
          }
        }

        .detail-container-carrousel-slide {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;
        }

        .detail-container-cards {
          display: flex;
          flex-wrap: nowrap;
          justify-content: center;
          gap: 10px;
        }

        .detail-card {
          width: 250px;
          height: fit-content;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          border-radius: 20px;
          transition: all 0.2s;
          z-index: 3;

          &:hover {
            cursor: pointer;
            transform: scale(1.01);
          }

          .detail-card-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
          }

          .detail-card-image {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px;
            width: 100%;
            height: 300px;
          }
          .detail-card-footer {
            position: relative;
            padding: 10px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            background-color: rgba(0, 0, 0, 0.5);
            text-align: center;
            letter-spacing: 1.5px;
            font-weight: 600;
          }
        }
      }
    }
  }
}

li .Mui-selected{
  background-color: rgb(255, 255, 255, 0.4) !important;
}