.detail-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 175vh;
  background: rgb(200, 0, 0);
  background: radial-gradient(
    circle,
    rgb(148, 0, 0) 0%,
    rgb(21, 0, 0) 100%
  );
  z-index: 10;

  .detail-container-hero {
    width: 100%;
    display: flex;

    .detail-container-body{
      margin: 115px auto;
      display: flex;
      width: 70%;
      justify-content: space-between;
      background-color: #000000;
      border-radius: 20px;
      padding: 40px;
  
      .detail-container-body-text {
        width: 40%;

        #detail-container-body-text-header{
          font-size: 52px;
        }

        #detail-container-body-text-body{
          margin: 20px 0;
          font-size: 20px;
        }

        .detail-container-body-text-subheader{
          font-size: 32px;
          text-transform: uppercase;
        }
        .detail-container-body-text-subbody{
          margin: 20px 0;
          font-size: 20px;
        }
      }
      .detail-container-picture{
        width: 50%;
        #detail-picture{
          width: 100%;
          border-radius: 20px;
        }
      }
    }

    .detail-container-hero-wallpaper{
      display: absolute;
      width: 100%;
    }

    #detail-hero-wallpaper{
      display: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.4;
    }
  }
}
