*{
    margin: 0px;
    padding: 0px;
}

.font-family-marvel-principal{
    font-family: 'AvengeanceMightiestAvenger', sans-serif;
    font-style: normal;
    color: white;
}

.font-family-marvel-roboto{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: white;
}

.font-family-marvel-inter{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    color: white;
}

.d-flex-row{
    display: flex;
    flex-direction: row;
}
.d-flex-column{
    display: flex;
    flex-direction: column;
}

.hidden{
    display: none;
}