.menu-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 175vh;
  background-color: #c35252;

  .menu-container-hero {
    height: 540px;
    background-color: #000000;
    background-image: url("../../assets/fondo4.png");
    background-repeat: no-repeat;
    background-size: cover;

    .menu-container-hero-text {
      font-size: 24px;
      position: absolute;
      width: 100%;
      display: flex;
      flex-direction: column;
      top: 220px;
      text-align: center;
      #header {
        text-transform: uppercase;
      }
    }
  }

  .menu-list-card{
    background-color: aqua;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;

    .menu-list-card-body{
      display: flex;
      justify-content: center;      
    }

    .menu-list-card-image{  
      border-radius: 20px;    
      width: 100%;
    }
    .menu-list-card-footer{
      position: relative;
      bottom: 50px;
      background-color: aquamarine;
      text-align: center;
    }
  }
}
