.footer-container {
  height: 61px;
  width: 100%;
  align-items: center;
  justify-content: flex-end;

  background: rgb(0, 0, 0,0.5);
  backdrop-filter: blur(2px);
  z-index: 3;
  .footer-text-container {
    display: flex;
    margin-right: 32px;
    align-items: center;
    gap: 10px;
  }
  .footer-socials-logos {
    border-radius: 50px;
    background-color: #d9d9d94d;
    &:hover {
      background-color: #d9d9d96b;
    }
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 12px;
    text-decoration: none;
    :link {
      color: white;
    }
    :visited {
      color: white;
    }
  }
  #socials-divider {
    transform: rotate(90deg);
  }
}
.footer-position-relative{
  position: relative;
}
.footer-position-fixed{
  position: fixed;
  bottom: 0;
}
