.footer-container {
  height: 61px;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  bottom: 0px;

  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
  z-index: 3;
  .footer-text-container {
    display: flex;
    margin-right: 32px;
    align-items: center;
    gap: 10px;
  }
  .footer-socials{
    padding: 5px 10px;
    border-radius: 50px;
    background-color: #D9D9D94D;
  }
  .footer-socials-logos{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 3px 5px;
    text-decoration: none;
    :link{
      color: white;
    }
    :visited{
      color: white;
    }
  }
  #socials-divider{
    transform: rotate(90deg);
  }
}
